Repository geriljer/Practicum_thesis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

edited pipelines for back and front
  backend/.gitlab-ci.yml
  backend/dockerfile
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/dockerfile
Due: frontend, backend

corrected a typo in backend dockerfile, removed 'f' in the very beginning of a file
  backend/dockerfile
Due: backend

created projects in sonarqube>edited CICD variables for that
  backend/.gitlab-ci.yml
Due: backend

wrapped variables in back gitlab-ci in quotes
  backend/.gitlab-ci.yml
Due: backend

GO111MODULE: on
  backend/.gitlab-ci.yml
Due: backend

debugging path to a back dockerfile
  backend/.gitlab-ci.yml
Due: backend

edit dockerfile COPY . . after go mod download
  backend/dockerfile
Due: backend

sonar-sast configure jdk11 download and installation from a different repo
  backend/.gitlab-ci.yml
Due: backend

sonar-sast configure jdk11 download and installation from a different repo excluded back test from dockerfile
  backend/.gitlab-ci.yml
  backend/dockerfile
Due: backend

edited fron .gitlab-ci.yml, corrected dockerfile (D replaced with d) and passed kaniko parameters in one string
  frontend/.gitlab-ci.yml
Due: frontend

edited fron .gitlab-ci.yml, corrected dockerfile (D replaced with d) and passed kaniko parameters in one string
  frontend/dockerfile
Due: frontend

removed duplicated color: black from src/components/navbar/CartIcon.vue L49
  frontend/src/components/navbar/CartIcon.vue
Due: frontend

edited src/App.vue to resolve an issue with Remove this deprecated Center element L5
  frontend/src/App.vue
  frontend/src/models/pagination.model.ts
Due: frontend

edited src/App.vue to resolve an issue with Remove this deprecated Center element L43
  frontend/src/components/profile/ChangePassword.vue
Due: frontend

edited src/views/Login.vue to resolve an issue with Remove this deprecated Center element L8
  frontend/src/views/Login.vue
Due: frontend

edited src/views/Profile.vue to resolve an issue with Remove this deprecated Center element L2
  frontend/src/views/Profile.vue
Due: frontend

edited src/models/pagination.model.ts to resolve an issue with T is already declared in the upper scope
  frontend/src/models/pagination.model.ts
Due: frontend

edited src/components.cart.CartTable.vue added Caption to resolve an issue Add a description to this table
  frontend/src/components/cart/CartTable.vue
Due: frontend

edited src/components/catalog/CartCardRow.vue to resolve an issue Surround this li item tag by a ul or ol container one
  frontend/src/components/catalog/CartCardRow.vue
Due: frontend

edited src/components/navbar/CartIcon.vue to resolve an issue Replace this i tag by em L3
  frontend/src/components/navbar/CartIcon.vue
Due: frontend

edited src/components/navbar/Navbar.vue to resolve an issue Add an alt attribute to this image L5
  frontend/src/components/navbar/Navbar.vue
Due: frontend

removed unnecessary semicolon from src/models/category.model.ts
  frontend/src/models/category.model.ts
Due: frontend

removed unnecessary semicolon from src/models/products.model.ts
  frontend/src/models/product.model.ts
Due: frontend

upload backend image to nexus
  backend/.gitlab-ci.yml
Due: backend

created docker repos in nexus and debugging connectivity issues to nexus
  backend/.gitlab-ci.yml
Due: backend

disable upload images to nexux docker hosted repo
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
