Repository geriljer/Practicum_thesis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

Replace pictures to a links on YC Object Storage
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/cmd/api/app/app_test.go
  backend/cmd/api/dependencies/store.go
  backend/dockerfile
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/default.conf
  frontend/dockerfile
  frontend/src/App.vue
  frontend/src/components/cart/CartTable.vue
  frontend/src/components/catalog/CartCardRow.vue
  frontend/src/components/navbar/CartIcon.vue
  frontend/src/components/navbar/Navbar.vue
  frontend/src/components/profile/ChangePassword.vue
  frontend/src/models/category.model.ts
  frontend/src/models/pagination.model.ts
  frontend/src/models/product.model.ts
  frontend/src/views/Login.vue
  frontend/src/views/Profile.vue
Due: frontend, backend

Merge changes with pics links from Main to build
  backend/cmd/api/app/app_test.go
  backend/cmd/api/dependencies/store.go
Due: backend

create fresh images and pull them to docker registry
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

edited dockerfile front ENV VUE_APP_API_URL=https://89.169.129.72:8081
  frontend/dockerfile
Due: frontend

edit default.conf>re-configurer proxy_pass http://backend:8081
  docker-compose.yml
  frontend/default.conf
Due: frontend

edited dockerfile front ENV VUE_APP_API_URL=http://89.169.129.72:8081
  frontend/dockerfile
Due: frontend

configure upload image to nexus
  backend/.gitlab-ci.yml
Due: backend

edit front dockerfile ENV VUE_APP_API_URL=http://alexlevashov.devops-practicum.ru:8081wq
  backend/.gitlab-ci.yml
  frontend/dockerfile
Due: frontend, backend

edit dockerfile front ENV VUE_APP_API_URL=http://51.250.0.162:8081
  frontend/dockerfile
Due: frontend

edit dockerfile front ENV VUE_APP_API_URL=http://alev-node1-vm-1:8081
  frontend/dockerfile
Due: frontend

corrected dockerfile front ENV VUE_APP_API_URL=http://alev-node1-vm-1.devops-practicum.ru:8081wq
  frontend/dockerfile
Due: frontend

corrected dockerfile front back to ENV VUE_APP_API_URL=http://51.250.0.162:8081 + decommented proxy settings in default.conf
  frontend/default.conf
  frontend/dockerfile
Due: frontend

edited dockerfile front to use ENV VUE_APP_API_URL=http://alexlevashov.devops-practicum.ru:8081
  frontend/dockerfile
Due: frontend

try dockerfile front ENV VUE_APP_API_URL=http://localhost:8081
  frontend/dockerfile
Due: frontend

configured back ENV VUE_APP_API_URL=http://89.169.129.72:8081 dockerfile front
  frontend/dockerfile
Due: frontend

try to use ENV VUE_APP_API_URL=http://backend:8081 dockerfile front
  frontend/dockerfile
Due: frontend

trying to use alev-node1-vm-1.devops-practicum.ru as ENV in dockerfile front
  frontend/dockerfile
Due: frontend

trying ENV 89.169.130.139 instead of FQDN
  frontend/dockerfile
Due: frontend

trying Cloud LB IP as ENV VUE_APP_API_URL=http://51.250.46.225:8081
  frontend/dockerfile
Due: frontend

create docker image front with FQDN alexlevashov.devops-practicum.ru
  frontend/dockerfile
Due: frontend

replaced port 8081 to 8080 in cmd/app/main.go backend
  backend/cmd/api/main.go
  backend/dockerfile
  frontend/dockerfile
Due: frontend, backend

backend service as LB 51.250.47.210
  frontend/dockerfile
Due: frontend

set ingress LB IP 51.250.46.225
  frontend/dockerfile
Due: frontend

try own cluster and ENV VUE_APP_API_URL=http://alev-node1-vm-1.devops-practicum.ru:8080
  frontend/dockerfile
Due: frontend

set LB IP as VUE_APP_API_URL=http://momo-store.devops-practicum.ru:8080
  frontend/dockerfile
Due: frontend

try LB IP VUE_APP_API_URL=http://51.250.44.25:8080
  frontend/dockerfile
Due: frontend

setting back port 8081 for backend http server>trying https for ENV VUE_APP_API_URL=https://momo-store.devops-practicum.ru:8081
  backend/cmd/api/main.go
  backend/dockerfile
  frontend/dockerfile
Due: frontend, backend

use http in ENV VUE_APP_API_URL=http://momo-store.devops-practicum.ru:8081
  frontend/dockerfile
Due: frontend

try ENV VUE_APP_API_URL=https://momo-store.devops-practicum.ru/api
  frontend/dockerfile
Due: frontend

LoadBalancer for backend service + ENV VUE_APP_API_URL=http://51.250.47.217:8081
  frontend/dockerfile
Due: frontend

try other LB IP ENV VUE_APP_API_URL=http://51.250.46.166:8081
  frontend/dockerfile
Due: frontend

re-built managed cluster with LB on a public IP>use momo-store.devops-practicum.ru in VUE_APP_API_URL=http://momo-store.devops-practicum.ru:8081
  frontend/dockerfile
Due: frontend

try https in ENV VUE_APP_API_URL=https://momo-store.devops-practicum.ru:8081
  frontend/dockerfile
Due: frontend

SSL error with https>switch back to http VUE_APP_API_URL=http://momo-store.devops-practicum.ru:8081
  frontend/dockerfile
Due: frontend

create and upload artifacts to nexus raw
  backend/.gitlab-ci.yml
Due: backend

create backend artifacts and upload to nexus raw
  backend/.gitlab-ci.yml
Due: backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
