Repository geriljer/Practicum_thesis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines   

frontend:
  stage: module-pipelines
  trigger: # тут указываем, какой сценарий будет запущен, если произошли изменения 
    include:
      - '/frontend/.gitlab-ci.yml'
    strategy: depend
  only: # тут задаём диапазон файлов, изменение которых запускает конвейер фронтенда
    changes:
      - frontend/**/*
backend:
  stage: module-pipelines
  trigger: # тут указываем, какой сценарий будет запущен, если произошли изменения
    include:
      - '/backend/.gitlab-ci.yml'
    strategy: depend
  only: # тут задаём диапазон файлов, изменение которых запускает конвейер бэкенда
    changes:
      - backend/**/*

create backend artifacts and upload to nexus raw
  backend/.gitlab-ci.yml
Due: backend

create and upload front artifacts to nexus raw repo
  frontend/.gitlab-ci.yml
Due: frontend

clean up the code
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

merge build into main
  README.md
Due: none

merge build into main
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

compose README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

edited README.md according to the latest changes in the project
  README.md
Due: none

edited README.md
  README.md
Due: none

edited README.md with recommendations from mentor
  README.md
Due: none
